<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ola"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ola"
        tools:targetApi="31">
        <activity
            android:name=".GFG"
            android:exported="false" />
        <activity
            android:name=".homepageActivity"
            android:exported="false"></activity>
        <activity
            android:name=".Welcome2Activity"
            android:exported="false"></activity>
        <activity
            android:name=".WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".verifyOTPActivity"
            android:exported="false" />
        <activity
            android:name=".InputNumberActivity"
            android:exported="false" />
        <activity
            android:name=".theme1Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>